.search-form {
}
.form-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  padding: 2rem 2.4rem;
  border-radius: 16px;
  background-color: var(--color-input);
  border: 1px solid transparent;
  flex: 1;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text-primary);
}

.search-input:focus {
  outline: none;
  border: 1px solid var(--color-purple);
}

.search-btn {
  border: none;
  margin-left: -3.4rem;
  background-color: var(--color-input);
  text-align: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.error {
  border: 1px solid var(--color-red) !important;
}

.error-subtitle {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-red);
  margin-top: 0.8rem;
}
