// themes/_dark.scss
[data-theme="dark"] {
  --color-background: #050505;
  --color-surface: #1f1f1f;
  --color-text-primary: #ffffff;
  --color-text-secondary: #757575;
  --color-switch: #a445ed;
  --color-input: #1f1f1f;
  --color-purple: #a445ed;
  --color-border: #3a3a3a;
  --color-red: #ff5252;
}
